.background{
    background-color: #85C1E9;
}
.wrap{
    width: 375px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;
}
.col{
    font-family: Kanit;
    font-size: 30px;
    color: #1B4861;
    text-align: center;
}
.result{
    font-size: 25px;
    font-weight: medium;
    color: #707070;
}
.bmi{
    color: #707070;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}
.bmr{
    color: #707070;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}
.top{
    padding-top: 20px;
}
.text{
    font-size: 18px;
    color: #707070;
    font-weight: lighter;
    margin: 0 20px 0 20px;
}
.view{
    width: 175px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background-color: #FDA400;
    color: white;
}
.bottom{
    padding-bottom: 70px;
}

/* nav */
.navigation{
    width: 375px;
    height: 72px;
    background-color: #162933;
    color: #D2D2D2;
    margin-top: 50px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
}
.flex-container { 
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
a { 
    padding: 3%;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
}
.nav-name { 
    font-family: Kanit;
    font-size: 15px;
}
.active { 
    color: #FDA400;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");